$primary: #2196F3;
$primary-light: #42A5F5;

$secondary-light: #CE93D8;

$gray: #F5F7FA;
$secondary: #424242;
$accent: #82B1FF;
$error: #FF5252;
$info: #2196F3;
$success: #4CAF50;
$warning: #FFC107;

// sidebar
$menuText:#BDBDBD;
$menuActiveText:#1f2d3d;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:$primary;
$menuHover:$primary-light;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;


// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
